<div class="container-fluid">
  <div class="row login">
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
      <form class="login" {{action save on='submit'}}>
        <img src="/assets/img/orami-sellercenter.png" class="spacer text-center col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
        <div class="clearfix"></div>
        <div class="text-center"><strong>{{{ message }}}</strong></div>
        <div class="form-group {{if isPasswordNotMatch 'has-error'}}">
          <label for="InputPassword">New Password (pattern: minimum 6 chars)</label>
          {{input type="password" pattern=".{6,}" class="form-control" id="InputPassword" placeholder="Password" value=password required="required"}}
        </div>
        <div class="form-group {{if isPasswordNotMatch 'has-error'}}">
          <label for="InputRePassword">Re-type New Password</label>
          {{input type="password" class="form-control" id="InputRePassword" placeholder="Re-type Password" value=repassword }}
          {{#if isPasswordNotMatch}}
          <p class="error" style="color: red;">Password did not match</p>
          {{/if}}
        </div>
        <!-- <div class="checkbox"> -->
        <!--   <label> -->
        <!--     <input type="checkbox"> Remember Me -->
        <!--   </label> -->
        <!-- </div> -->
        <button class="btn btn-default btn-block btn-size-regular main-background text-white noborder">Submit</button>
        {{#link-to 'auth.login'}}
          <div class="text-right">Cancel</div>
        {{/link-to}}
      </form>
    </div>
  </div><!-- /.container -->

</div>
