<div class="row login side-padder">
  <div class="col-lg-6 col-lg-offset-3 col-md-lg-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 spacer20 dash-bar">
      <label for="" class="in-block nomargin">Vendor Registration</label>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 bordering allspacer25 card-shadow" style="background:#fff;">
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center bottom-space-container">
        <img src="/assets/img/logo.png" width="180px" class="spacer text-center">
      </div>
      <form {{ action 'submit' on="submit" }}>
        <legend class="register-legend">Credential Information</legend>
        <div class="form-group">
          <label for="InputUsername">Username</label>
          {{input type="text" class="form-control" id="InputUsername" placeholder="Username" value=username required="required"}}
          <blockquote class="exp">
            <footer>
              <cite title="Source Title">
                Your shop link will be http://moxy.co.id/store/{{#if username}}{{username}}{{/if}}
              </cite>
            </footer>
          </blockquote>
        </div>
        <div class="form-group">
          <label for="InputEmail">Email address</label>
          {{input type="email" class="form-control" id="InputEmail" placeholder="Email" value=email required="required"}}
        </div>
        <div class="form-group {{if isPasswordNotMatch 'has-error'}}">
          <label for="InputPassword">Password (pattern: minimum 6 chars)</label>
          {{input type="password" pattern=".{6,}" class="form-control" id="InputPassword" placeholder="Password" value=password required="required"}}
        </div>
        <div class="form-group {{if isPasswordNotMatch 'has-error'}}">
          <label for="InputRePassword">Re-type Password</label>
          {{input type="password" class="form-control" id="InputRePassword" placeholder="Re-type Password" value=repassword focus-out="matchPassword"}}
          {{#if isPasswordNotMatch}}
          <p class="error" style="color: red;">Password did not match</p>
          {{/if}}
        </div>
        <legend class="register-legend">Contact Person</legend>
        <div class="row">
          <div class="form-group col-lg-6">
            <label for="InputFirstName">First Name</label>
            {{input type="text" class="form-control firstname" id="InputFirstName" placeholder="First Name" value=first_name required="required"}}
          </div>
          <div class="form-group col-lg-6">
            <label for="InputLastName">Last Name</label>
            {{input type="text" class="form-control" id="InputLastName" placeholder="Last Name" value=last_name required="required"}}
          </div>
        </div>
        <legend class="register-legend">Shop Info</legend>
        <div class="form-group">
          <label for="InputUsername">Shop Name</label>
          {{input type="text" class="form-control" id="InputShopName" placeholder="Shop Name" value=shop_name required="required"}}
        </div>
        <div class="form-group">
          <label for="InputShopAddress">Address (Shop)</label>
          {{input type="text" class="form-control" id="InputShopAddress" placeholder="Shop Address" value=shop_address required="required"}}
        </div>
        <div class="form-group">
          <label for="InputReturnAddress">Address (Return)</label>
          {{input type="text" class="form-control" id="InputReturnAddress" placeholder="Return Address" value=return_address required="required"}}
        </div>
        <div class="form-group">
          <label for="InputReturnAddress">Country</label> <br>
          {{#x-select id="country" required="required" value=country action="changeCountry" class="country-drop"}}
            {{#each countries as |ctry|}}
              {{#x-option value=ctry.code}}
                {{ctry.name}}
              {{/x-option}}
            {{/each}}
          {{/x-select}}
        </div>
        <div class="form-group">
          <div class="form-inline muth-phone">
            <div class="form-group col-lg-6 nopadding bottom-spacer">
              <label for="InputPhone" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">Phone</label>
              <div class="input-group firstname bottom-spacer">
                <div class="input-group-addon">{{phone_code}}</div>
                {{input type="text" class="form-control border-rad-4" id="InputPhone" placeholder="Phone" value=phone_number required="required"}}
              </div>
            </div>
          </div>
          <div class="checkbox col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
          <label for="InputPhone" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding"><strong>Which shipping method you prefer?</strong></label>
            <label class="terms-register" style="margin-top: 10px !important;">
              {{radio-button value="1" groupValue=partnership_type name="partnership_type" required="required" style="position: relative;display: inline-block;margin-left: 0;"}} I want to send product to the warehouse <br>
            </label>
            <label class="terms-register" style="margin-top: 10px !important;">
              {{radio-button value="2" groupValue=partnership_type name="partnership_type" required="required" style="position: relative;display: inline-block;margin-left: 0;"}} I want to send product directly to the customer
            </label>
          </div>
          <div class="checkbox col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
            <label class="terms-register">
              <input type="checkbox" style="position: relative;display: inline-block;margin-left: 0;" required="required" /> I agreed with the <a class="terms" href="#"> terms & conditions</a>
            </label>
          </div>
        </div>
        <div class="col-lg-12 nopadding">
          <button type="submit" class="btn btn-primary btn-size-small">Register</button>
          {{#link-to 'auth.login'}}
          <div class="btn btn-link btn-size-small">cancel</div>
          {{/link-to}}
        </div>
      </form>
    </div>
  </div>
</div>
