<div class="hidden-md col-xs-12" id="hidden-spacer">

 </div>

 <div class="container-fluid content-page">
 	<div class="message-inbox">
 		<div class="row">

 			
 				<div class="col-lg-4 mbtm30">
 					<h4 class="title dash-bar nomargin">message</h4>
 					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container-message">
						<div class="col-xs-12 scrollable-list">
 						<ul>
                            {{# each model as |message| }}
 							<li {{action "displayMessage" message on="mouseUp" }}>
 								<div class="head-top">
 									<div class="form-group pull-left">
 										<input type="checkbox">
 										<label>{{message.subject}} &lt;{{message.sender}}&gt; {{#if message.read_at}}read{{/if}}</label>
 									</div>
 									<div class="form-group pull-right">
 										<button class="btn btn-primary btn-size-small btn-sell">Reply</button>
 									</div>
 								</div>	
 								<div class="message-container">
 									{{message.body}}
 								</div>
 							</li>
 							{{/each}}
 						</ul>
 					</div>
 						<div class="form-group text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
 							<button class="btn btn-primary btn-size-small btn-primary">Mark as Solved</button>
 						</div>
                        <!--
 						<nav class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
 							<ul class="pagination col-middler ">
 								<li>
 									<a href="#" aria-label="Previous">
 										<span aria-hidden="true">&laquo;</span>
 									</a>
 								</li>
 								<li><a href="#">1</a></li>
 								<li><a href="#">2</a></li>
 								<li><a href="#">3</a></li>
 								<li><a href="#">4</a></li>
 								<li><a href="#">5</a></li>
 								<li>
 									<a href="#" aria-label="Next">
 										<span aria-hidden="true">&raquo;</span>
 									</a>
 								</li>
 							</ul>
 						</nav>
                        -->
 					</div>
 				</div>
                {{#if currentMessage }}
 				<div class="col-lg-8 col-xs-12 col-md-12 col-sm-12 mbtm30 in-block" >
 					<h4 class="title dash-bar nomargin">Reply messages</h4>
 					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 15px;border: 1px solid #ccc;">

 						<form  {{action "sendMessage" currentMessage on="submit" }}>
 							<ul class="message-action">
 								<li class="people">
								<div class="name">{{currentMessage.sender}}</div>
								{{currentMessage.body}}
							</li>
							{{# each currentMessage.replies as |reply| }}
							<li class="self">
								<div class="name">{{reply.sender}}</div>
								{{reply.body}}
							</li>
							{{/each}}
 							</ul>	
 							<div class="form-group">
 								{{  textarea value=body class="form-control" rows="3" placeholder="your message here..."}}
 							</div>
 							<div class="form-group pull-right">
 								<!-- <button class="btn btn-primary btn-size-small btn-hollow">attached image</button> -->
 								<button type="submit" class="btn btn-primary btn-size-small btn-hollow">send </button>
 							</div>								
 						</form>
 					</div>
                    
 				</div>
                {{else}}
 				<!-- empty message condition -->
 				<div class="col-lg-8 col-xs-12 col-md-12 col-sm-12 mbtm30 in-block" style="">
 					<h4 class="title dash-bar nomargin">Reply messages</h4>
 					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 empty-container" style="">
 						<div class="col-xs-12 empty-content text-center">
 							your message is empty
 						</div>
 					</div>
 				</div>
 				<!-- empty message condition-->
 			    {{/if}}

 		</div>
 	</div>		
 </div>
