<div class="hidden-md hidden-lg col-xs-12" id="hidden-spacer"></div>

<div class="container-fluid content-page">
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-md-4 side-padder">
      <div class="col-lg-12 col-md-12 col-sm-12 spacer20 dash-bar">
        <label for="exampleInputEmail1" class="in-block">My Profile</label>
        <div class="col-lg-6 col-xs-2 col-md-6 col-sm-4 nopadding pull-right">
          {{#link-to 'profile'}}
            <div class="btn btn-dash btn-size-small pull-right nomargin">Edit</div>
          {{/link-to}}
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 bordering spacer20 bottom-spacer-container profile-height">
        <div class="col-lg-2 col-xs-4 col-sm-3 nopadding propic in-block">
          {{#if model.photo}}
          <img src="{{model.photo}}" width="100%">
          {{else}}
          <img src="assets/img/thumb.png" width="100%">
          {{/if}}
        </div>
        <div class="col-lg-9 nopadding in-block">
          <h6 id="profil-data"><span class="in-block min-90">Name </span>: {{ model.seller_name }}</h6>
          <h6 id="profil-data"><span class="in-block min-90">Email  </span>: {{ model.email }}</h6>
          <h6 id="profil-data"><span class="in-block min-90">Phone  </span>: {{ model.phone }}</h6>
              <h6 id="profil-data"><span class="in-block min-90">ID Number  </span>: {{ model.identity_number }}</h6>
              <h6 id="profil-data"><span class="in-block min-90">Shop Name  </span>: {{ model.shop_name }}</h6>
              <h6 id="profil-data"><span class="in-block min-90">Shop Link </span>: {{ model.shop_link }}</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-8 col-md-8 side-padder">
      {{#link-to 'products.add'}}
      <div class="col-lg-3 col-md-3 col-sm-3 text-center  nopaddingleft  hidden-xs bottom-spacer-button">
        <div class="wrapper-box add-products">
          <i class="fa fa-plus-circle colorfa add-icons"></i>
          <br>Add products
        </div>
      </div>
      {{/link-to}} {{#link-to 'sales'}}
      <div class="col-lg-3 col-md-3 col-sm-3 text-center  nopaddingleft  hidden-xs bottom-spacer-button">
        <div class="wrapper-box add-products">
          <i class="fa fa-shopping-cart colorfa add-icons"></i>
          <br> New Order
        </div>
      </div>
      {{/link-to}} {{#link-to 'sales'}}
      <div class="col-lg-3 col-md-3 col-sm-3 text-center  nopaddingleft  hidden-xs bottom-spacer-button">
        <div class="wrapper-box add-products">
          <i class="fa fa-bar-chart colorfa add-icons"></i>
          <br>Overal Sales
        </div>
      </div>
      {{/link-to}} {{#link-to 'sales'}}
      <div class="col-lg-3 col-md-3 col-sm-3 text-center  nopaddingleft  hidden-xs bottom-spacer-button">
        <div class="wrapper-box add-products">
          <i class="fa fa-file-text colorfa add-icons"></i>
          <br>Generate Report
        </div>
      </div>
      {{/link-to}}

      <div class="col-lg-6 col-md-6 col-sm-12  wrapper-outer nopaddingleft bottom-spacer-container">
        <div class="wrapper-box bordering spacer60">
          {{#link-to 'products.add'}}
          <div class="row ">
            <div class="col-lg-12 col-xs-12 col-sm-12 nopadding in-block full-width text-center colorfa nopadding bolder">
              <span class="main-number middler">{{ activeProduct }}</span> &nbsp; Active Products
            </div>
          </div>
          {{/link-to}}
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12  wrapper-outer nopaddingleft bottom-spacer-container">
        <div class="wrapper-box bordering spacer60">
          {{#link-to 'products.add'}}
          <div class="row ">
            <div class="col-lg-12 col-xs-12 col-sm-12 nopadding in-block full-width text-center colorfa nopadding bolder">
              <span class="main-number middler">{{ inactiveProduct }}</span> &nbsp; Inactive Products
            </div>
          </div>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
  <!--  second row-->
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 side-padder">
      {{ render 'dashboard/new-order' }}
      {{ render 'dashboard/paid-order' }}
    </div>
  </div>
  <!--  end of second row-->
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 side-padder">
      <div class="col-lg-12 col-sm-12 col-md-12 nopadding wrapper-outer">
       <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 box-extra nopaddingleft">
         <div class="wrapper-box additional-index-tab  bottom-spacer-container text-center">
          <span class="number-text">300</span>
          <br>Average Sales
        </div>
       </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 box-extra nopaddingleft righter">
         <div class="wrapper-box additional-index-tab  bottom-spacer-container text-center">
          <span class="number-text">4.000.000</span>
          <br>Total Revenue
        </div>
       </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 box-extra nopaddingleft">
         <div class="wrapper-box additional-index-tab  bottom-spacer-container text-center">
          <span class="number-text">2.000.000</span>
          <br>This Week
        </div>
       </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 box-extra nopaddingleft righter">
         <div class="wrapper-box additional-index-tab  bottom-spacer-container text-center">
          <span class="number-text">100.000</span>
          <br>Today
        </div>
       </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 box-extra nopaddingleft">
         <div class="wrapper-box additional-index-tab  bottom-spacer-container text-center">
          <span class="number-text">25.000</span>
          <br>Lowest performing
        </div>
       </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 box-extra nopaddingleft righter">
         <div class="wrapper-box additional-index-tab  bottom-spacer-container text-center">
          <span class="number-text">2.000.000</span>
          <br>Highest performing
        </div>
       </div>
      </div>
    </div>
  </div>
  <!--  third row -->
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 side-padder">
      <div class="col-lg-12 col-sm-12 col-md-12 nopaddingleft wrapper-outer">
        <div class="col-lg-12 col-md-12 col-sm-12 spacer20 dash-bar">
          <label for="exampleInputEmail1" class="in-block">Revenue Chart</label>
          <div class="col-lg-6 col-xs-2 col-md-6 col-sm-4 nopadding pull-right">
            {{#link-to 'sales'}}
            <div class="btn btn-dash btn-size-small pull-right nomargin">Details</div>
            {{/link-to}}
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 bordering spacer20 bottom-spacer-container in-block full-width">
          <div class="col-lg-12 col-md-12 col-sm-12 text-center nopadding noverflow">
            {{ render 'dashboard/dashboard-chart' }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  end of third row-->

</div>
