{{#if isEmptyShopName}}
<div class="alert alert-danger shop-name-error" role="alert">
  Please fill the <b>Shop Name</b> first before uploading your product. Please visit this link <a href="/profile" class="alert-link">Profile</a> to fill your shop name
</div>
{{/if}}

<form {{action "save" on="submit"}} enctype="multipart/form-data">

  <div class="container-fluid">
    <!-- <div class="row">
        <div class="col-lg-12 text-left">
          <h5>Product ID 12345XXXX </h5>
        </div>
      </div> -->
      <div class="row">
        {{#if error}} {{!-- TODO: Need to change variable that does error checking --}}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Oh snap!</strong> This is an error message.
        </div>
        {{/if}}

        <div class="col-lg-6 col-md-6">

          <label for="form-title" class="text-title">Category</label>
          <div class="clearfix"></div>
          {{#x-select action="chooseCategory" id="category" class="btn btn-hollow btn-size-small dropdown-toggle drop-custom nomoz" required="required" value=model.parentcategory}}
          <option value="" disabled="disabled" selected="selected">Select category</option>
            {{#if model.d_categories.[1] }}
              {{#each model.d_categories.[1] as |cat| }}
                {{#x-option value=cat.id}}
                  {{cat.name}}
                {{/x-option}}
              {{/each}}
            {{ else }}
              {{#each categories as |cat| }}
                {{#x-option value=cat.id}}
                  {{cat.name}}
                {{/x-option}}
              {{/each}}
            {{/if}}
          {{/x-select}}

          {{#if hasLevel2Category}}
            {{#x-select action="chooseSubCategory" id="subcategory" class="btn btn-hollow btn-size-small dropdown-toggle drop-custom" required="required" value=model.subcategory}}
            <option value="" selected="selected">Select category</option>
              {{#if model.d_categories.[2] }}
                {{#each model.d_categories.[2]  as |cat|}}
                  {{#x-option value=cat.id}}
                    {{cat.name}}
                  {{/x-option}}
                {{/each}}
              {{else}}
                {{#each subcategories as |cat|}}
                  {{#x-option value=cat.id}}
                    {{cat.name}}
                  {{/x-option}}
                {{/each}}
              {{/if}}
            {{/x-select}}
          {{/if}}

          {{#if hasLevel3Category}}
            {{#x-select action="chooseSubSubCategory" id="subsubcategory" class="btn btn-hollow btn-size-small dropdown-toggle drop-custom" required="required" value=model.categories}}
            <option value="" selected="selected">Select category</option>
              {{#if model.d_categories.[3] }}
                {{#each model.d_categories.[3] as |cat| }}
                  {{#x-option value=cat.id}}
                    {{cat.name}}
                  {{/x-option}}
                {{/each}}
              {{else}}
                {{#each subsubcategories as |cat|}}
                  {{#x-option value=cat.id}}
                    {{cat.name}}
                  {{/x-option}}
                {{/each}}
              {{/if}}
            {{/x-select}}
          {{/if}}
          <!-- end of mobile display -->

        <div class="col-lg-12 nopadding">
          <div class="form-group">
            <label for="name" class="text-title">Name </label>
            <!-- <div id="div1" style="display:{{displayNameHelper}};">A reminder of how to use this field</div> -->
            {{ input type="text" class="form-control" id="name" placeholder="Enter name of the product" maxlength="45" value=model.name required="required" }}
            <blockquote class="exp">
              <footer><cite title="Source Title">Max 45 characters.</cite></footer>
            </blockquote>
          </div>
          <div class="form-group">
          <label for="sku" class="text-title">Product UPC Code </label>
          {{ input type="text" class="form-control" id="sku" placeholder="Enter seller product SKU" value=model.upc_code}}
          </div>
    		  <div class="form-group">
    		  <label for="brand" class="text-title">Product Brand </label>
                {{ input type="text" class="form-control" id="brand" placeholder="Enter product brand" value=model.brand}}
          </div>

    		  <div class="form-group">
    		  <label for="delivery_time" class="text-title">Delivery Time </label>
                {{ input type="text" class="form-control" id="delivery_time" placeholder="Enter product delivery time" value=model.delivery_time}}
          </div>

          {{!-- <div class="form-group">
          <label for="description" class="text-title">Attribute Set </label>
          {{view "select" class="form-control" content=productAttributes optionLabelPath="content.name" optionValuePath="content.set_id" value=model.product_attribute_set}}
          <blockquote class="exp">
            <footer><cite title="Source Title">The attribute need to be set to make easier in sorting your products</cite></footer>
          </blockquote>
        </div> --}}
        <div class="form-group">
          <label for="shortdescription" class="text-title">Specification </label>
          {{textarea class="form-control maximum-width" rows="3" value=model.short_description required="required" }}
        </div>
        <div class="form-group">
          <label for="description" class="text-title">Description </label>
          {{textarea class="form-control maximum-width" rows="8" value=model.description required="required" }}
        </div>

        <div class="form-group col-lg-5 nopadding">
          <label for="weight" class="text-title">Weight (kg) </label>
          {{ input type="number" class="form-control" id="weight" min="1" placeholder="Enter product weight" value=model.weight required="required" }}
        </div>
        <div class="form-group col-lg-6 pull-right nopadding">
          <label class="text-title" for="exampleInputFile" class="col-lg-12 text-title">Available Stock</label>
          {{ input type="number" class="form-control" min="0" value=model.qty required="required" }}
        </div>

        <div class="form-group">
         <label for="price" class="text-title">Selling Price </label>
         <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 nopadding bottom-spacer">
          <div class="col-lg-12 bottom-spacer-bigger"></div>
         <div class="input-group" style="float:left;">
          <div class="input-group-addon">Rp.</div>
          <input type="number" class="form-control" id="price" placeholder="Enter product price"  min="1000" {{action "priceCommission" on="keyUp" allowedKeys="any" }} value="{{model.price}}" />
        </div>
</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 left commission-cont" style="">
          <p>We take <span class="commission-percent" style="">{{discount_percentage}}%</span>, so</p>
        <h4 class="commission-amount">Rp. {{format-number seller_price}}</h4>
        <p class="commission-exp"style="">will be transferred for each quantity sold</p>
      </div>
      </div>
    </div>
    <div class="form-group">

      <label for="exampleInputFile" class="text-title">Image Upload</label>
      <div class="form-inline">
        <div class="form-group">
          <output id="result">
            {{#each model.images as |img|}}
            {{uploaded-images img=img model=model}}
            {{else}}
            <img id="product-image" src="assets/img/default_product.png" alt="put your image" width="120" height="120" >
            {{/each}}
          </output>

          {{#if (or (not (is-array model.images)) (lt model.images.length 5))}}
          <div class="fileUploadImg btn-upload">
            <span><i class="fa fa-plus"></i></span>
            <br>
            <span>ADD IMAGE</span>
            <input id="files" class="upload" type="file" {{action "selectPicture" on="change" }}>
          </div>
          {{/if}}

        </div>
      </div>

      {{#if isEmptyImage}}
      <div class="alert alert-danger shop-name-error" role="alert">
        Please upload at least 1 image of the product
      </div>
      {{/if}}

    </div>
    <div class="form-group bottom-spacer in-block full-width" style="display: none;">
      <div class="col-lg-9 nopadding">
        <input type="button" class="btn btn-hollow btn-size-regular nomargin" data-toggle="modal" data-target="#myModal" value="add more option">

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add more option</h4>
              </div>
              <div class="modal-body">
                <div class="form-group" id="form-transparent">
                  <label class="text-title" for="productname">Define option name</label>
                  <input type="email" class="form-control bottom-spacer" id="productname" placeholder="">
                  <table class="table table-bordered table-condensed transparent-input">
                    <tbody>
                      <tr>
                        <th class="text-center">Check</th>
                        <th class="text-center">Tipe</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Weight</th>
                      </tr>
                      <tr>
                        <td>
                          <input type="checkbox" class="form-control transparent-input" />
                        </td>
                        <td>
                          <input type="text" placeholder="fill type" class="form-control transparent-input" />
                        </td>
                        <td>
                          <input type="text" class="form-control transparent-input" placeholder="fill quantity" />
                        </td>
                        <td>
                          <input type="text" class="form-control transparent-input" placeholder="fill weight" />
                        </td>

                      </tr>
                      <tr>
                        <td>
                          <input type="text" class=" transparent-input form-control " />
                        </td>
                        <td>
                          <input type="text" class="form-control transparent-input" />
                        </td>
                        <td>
                          <input type="text" class="form-control transparent-input" />
                        </td>
                        <td>
                          <input type="text" class="form-control transparent-input" />
                        </td>

                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-size-small nomargin">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group bottom-spacer in-block full-width bottom-bordering bottom-bordering" id="contentwhole">
      <div class="clearfix"></div>
    </div>

    {{!--
    <div class="form-group bottom-spacer in-block full-width bottom-bordering bottom-bordering" id="contenttimed">
      <label for="exampleInputFile" class="col-lg-10 col-xs-12 col-sm-12 col-md-12 text-title ">Special Price</label>
      <div class="col-lg-8 col-sm-10 col-xs-10 col-md-10 nopadding right-spacer bottom-spacer">
        {{input type="number" placeholder="price in rupiah" min="1" name="name" value="" class="form-control" value=model.special_price}}
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12 nopadding bottom-spacer">
        {{date-picker class="text-center date-picking" valueFormat="YYYY-MM-DD" date=model.special_from_date}} to
        {{date-picker class="text-center date-picking" valueFormat="YYYY-MM-DD" date=model.special_to_date}}
      </div>
      <blockquote class="exp">
        <footer><cite title="Source Title">Special price is useful when you want to set a discounted price for customers within a date range.</cite></footer>
      </blockquote>
    </div>
    --}}

    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 nopadding in-block full-width">
      <button type="reset" class="btn btn-hollow btn-size-small">Reset</button>
      <button type="submit" class="btn btn-primary btn-size-small" disabled={{ isEmptyShopName }}>Request approval</button>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 hidden-sm hidden-xs live-container">
      <div class="col-lg-12 col-md-12">
        <div class="col-lg-12 col-md-12 live-header">
          Product Preview
      </div>
     </div>
  <div class="row col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1  nopadding" style="">
    <div class="col-lg-4 col-md-4 nopadding">
     <div class="col-lg-12 col-md-12 live-main-image bottom-spacer-container nopadding" style="height: 200px; max-height: 200px; overflow-y: hidden;">
     {{#if model.image}}
       {{#if model.image.file }}
       <img src="{{model.image.file}}" width="100%">
       {{else}}
       <img src="{{model.image}}" width="100%">
       {{/if}}
     {{else}}
        <img src="assets/img/default_product.png" width="100%">
     {{/if}}
    </div>
    <div class="col-lg-12 col-md-12 in-block bottom-spacer nopadding" {{ action "imagePreviewMouseLeave" on="mouseLeave" }}>
      {{#each model.images as |img|}}
        {{#if img.file}}
          <img id="product-image" src="{{img.file}}" {{ action "imagePreviewMouseEnter" img on="mouseEnter" }} alt="your image" width="38" height="38" />
        {{else}}
          <img id="product-image" src="{{img}}" {{ action "imagePreviewMouseEnter" img on="mouseEnter" }} alt="your image" width="38" height="38" />
        {{/if}}
      {{else}}
        <img id="product-image" src="assets/img/default_product.png" alt="put your image" width="38" height="38" />
      {{/each}}
        <output id="product_images" />
      </div>
    </div>
    <div class="col-lg-8 col-md-8 nopadding">
      <div class="col-lg-12 live-title">
        <h1 class="nomargin">
          {{#if model.name}}
          {{ model.name }}
          {{else}}
          Get a good title
          {{/if}}
        </h1>
      </div>
      <div class="col-lg-12 live-shortdesc">
       {{#if model.short_description}}
       {{ model.short_description }}
       {{else}}
       Give short description for the products.
       {{/if}}
     </div>
     <!--  <div class="col-lg-4 col-md-4 -weight bottom-spacer-container">
        <span class="word-weight">
          Weight :
          {{#if model.weight}}
          {{ model.weight }}
          {{else}}
          1
          {{/if}} kg
          <br>
          Qty :
          {{#if model.qty}}
          {{ model.qty }}
          {{else}}
          1
          {{/if}}
        </span>
      </div> -->
      <div class="col-lg-12 col-md-12 -weight bottom-spacer">
        <span class="word-weight">
          Brand : Samsung
          <br>
          SKU : UOAJSJA92940
          <br>
          Ships in : 1-3 working days
        </span>
      </div>
      <div class="col-lg-6 col-md-6 live-price bottom-spacer">
        Rp.
        {{#if model.price}}
        {{format-number model.price }}
        {{else}}
        1000
        {{/if}}
      </div>
      <div class="col-lg-6 col-md-6 live-price bottom-spacer text-right">
        <span class="left">Qty : </span>
        <span class="right qty-number">{{#if model.qty}}
          {{format-number model.qty }}
          {{else}}
          1
          {{/if}}</span>
        </div>
        <div class="col-lg-6 col-md-6 live-price bottom-spacer">
          <div class="btn btn-size-small col-lg-12 col-md-12 live-btn-buy" style="">Beli</div>
        </div>
        <div class="col-lg-6 col-md-6 live-price bottom-spacer text-right">
          <div class="btn btn-size-small col-lg-12 col-md-12 live-btn-wish" style="">Wishlist</div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="col-lg-3 col-md-3 live-details-tab">
            Details
          </div>
        </div>
        <div class="col-lg-12 col-md-12 live-details bottom-spacer-container text-left">
          <p>
            {{#if model.description}}
            {{ model.description }}
            {{else}}
            Give details for the products.
            {{/if}}
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</form>

