{{#if isEmptyShopName}}
<div class="alert alert-danger shop-name-error" role="alert">
  Please fill the <b>Shop Name</b> first before uploading your product. Please visit this link <a href="/profile" class="alert-link">Profile</a> to fill your shop name
</div>
{{/if}}

 <div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4 in-block nopadding">
      {{!--
      <div class="col-xs-12 nopadding bottom-spacer-container">
        <div class="form-group">
          <label for="InputEmail" class="upload-label full-width">Get to know how to upload</label>
          <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6 nopaddingleft">
           <a href="http://static.moxy.co.id/sellercenter/Marketplace_category_ids.pdf" download="category id" target="_blank">
            <span class="btn btn-size-small btn-csv" style="">
              <i class="fa fa-file-excel-o"></i>download guide</span>
            </a>
            </div>
            <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6 nopaddingleft">
              <a href="http://static.moxy.co.id/sellercenter/Marketplace_Bulk_Upload_Example.xls" download="category id" target="_blank">
                <span class="btn btn-size-small btn-csv">
                  <i class="fa fa-file-pdf-o"></i>download xls</span>
              </a>
            </div>
        </div>
      </div>
      --}}

      <div class="col-xs-12 col-sm-12 col-lg-12 in-block nopadding">
        <div class="col-xs-12 nopadding">
          <div class="form-group">
            <label for="InputEmail"class="upload-label full-width">Please upload your product file</label>
            <div class="col-xs-12 nopaddingleft">
              {{bulk-upload-product id="uploadedFile" class="custom-file-input" onError="uploadError" onSuccess="uploadSuccess"}}
            </div>
          </div>
        </div>
      </div>

      <div>&nbsp;</div>

      {{#if errors.length}}
      <div class="col-xs-12 col-sm-12 col-lg-12 in-block nopadding">
        <div class="col-xs-12 nopadding">
          <div class="form-group">
            <label class="upload-label full-width">Errors:</label>
            <div class="col-xs-12 nopaddingleft">
                <p>None of your products were uploaded because:</p>
              <ul>
                {{#each errors as |error|}}
                  <li>{{error.field}} - {{error.reasons}}</li>
                {{/each}}
              </ul>
              <p>Please fix the errors and try uploading again</p>
            </div>
          </div>
        </div>
      </div>
      {{/if}}

      {{#if uploadResults}}
      <div class="col-xs-12 col-sm-12 col-lg-12 in-block nopadding">
        <div class="col-xs-12 nopadding">
          <div class="form-group">
            <label for="InputEmail"class="upload-label full-width">These products were successfully created:</label>
            <div class="col-xs-12 nopaddingleft">
              <ol>
              {{#each uploadResults as |product|}}
                <li>{{{product.name}}}</li>
              {{/each}}
              </ol>
            </div>
          </div>
        </div>
      </div>
      {{/if}}

      </div>
      <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 in-block">
        <label for="InputEmail"class="upload-label full-width">List of Categories</label>
        <div class="category-list">
          <table>
            <thead>
              <td>Category ID</td>
              <td>Category Structure</td>
            </thead>
            <tbody>
              {{#each model as |m|}}
              <tr>
                <td><strong>{{m.id}}</strong></td>
                <td>{{m.name}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
