      <div class="hidden-md hidden-lg col-xs-12" id="hidden-spacer">
      </div>

      <div class="container-fluid content-page">

        <div class="row">
          <div class="result-table">
            <h3 class="text-center title">All Products</h3>
              <div class="switcher" {{action 'toggleOrder' 'name'}}>
                <i class="fa {{if sortAscending "fa-chevron-up" "fa-chevron-down"}} {{if sortedProperties.name "chevron-sorted" "chevron-unsorted"}}"></i>
              </div>
            <a href="#" {{action 'toggleOrder' 'qty'}}> 
              <div class="switcher">
                <i class="fa {{if sortAscending "fa-chevron-up" "fa-chevron-down"}} {{if sortedProperties.qty "chevron-sorted" "chevron-unsorted"}}"></i>
              </div>
            </a>
            <a href="#" {{action 'toggleOrder' 'price'}}> 
              <div class="switcher">
                <i class="fa {{if sortAscending "fa-chevron-up" "fa-chevron-down"}} {{if sortedProperties.price "chevron-sorted" "chevron-unsorted"}}"></i>
              </div>
            </a>
            <a href="#" {{action "toList"}}> 
              <div class="switcher">
                <i class="fa fa-th"></i>
              </div>
            </a>

            <a href="#" {{action "toTile"}}> 
              <div class="switcher">
                <i class="fa fa-th-list"></i>
              </div>
            </a>
            {{#if isChoosingTile}}
            <div class="panel panel-default">
            <!--
              <div class="panel-heading">
                <div class="col-md-8 date-picker text-left">
                  <label class="small">Search by date</label>
                  <div class="clearfix"></div>
                  <input type="date" class="form-control" id="DateInputFrom" placeholder="dd/mm/yyyy">
                  <label>To</label>
                  <input type="date" class="form-control" id="DateInputTo" placeholder="dd/mm/yyyy">
                </div>
                <div class="col-md-4 search">
                  <input type="text" class="form-control" placeholder="Search for...">
                </div>
              </div>
            -->

            <div class="panel-body list-products">

              {{#each paginatedContent as |product|}}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
                {{#link-to "products.detail" product.id }}
                <img src="{{product.image}}" alt="">
                {{/link-to}}
                <div class="item-code ">SKU: {{product.product_sku}}</div>
                <h4 class="title-page">
                  {{product.name}}
                </h4>
                <div class="stock">Stock : {{ format-number product.qty }}</div>
                <div class="price">
                  RP {{format-money product.price}}
                </div>
              </div>
              {{else}}
              <div class="fonter" style="">
                <i class="fa fa-file fonter-file" style=""></i>
                <span class="fonter-cross" style="">x</span>
              </div>
              <span class="fonter-bot" style="">
                No data yet
                <br>
                Start selling on MOXY
              </span>
              {{/each}}

              {{#if hasPages }}
              <nav class="text-center center-block">
                <ul class="pagination">
                 {{# if prevPage }}
                 <li>
                  <a {{action "selectPage" prevPage}} aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                  </a>
                </li>

                {{/if}}
                {{#each pages as |page|}}
                <li {{bindAttr class="active disabled"}}><a href="#" {{action "selectPage" page.number}}>{{page.number}}</a></li>
                {{/each}}
                {{#if nextPage}}
                <li>
                  <a {{action "selectPage" nextPage}} aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                  </a>
                </li>

                {{/if}}
              </ul>
            </nav>
            {{/if}}

          </div>
        </div>
        {{else}}
        <div class="panel panel-default noborder noshadow">
          <div class="panel-body list-products nopadding text-center">
            <div class="table-responsive list-style bordering">
              <table class="table nomargin tablenum">
                <thead style="background-color: #E7E7E7;border-bottom: none;">
                  <tr>
                    <th>No</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>SKU</th>
                    <th>Stock</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each paginatedContent as |product|}}
                  <tr>
                    <td></td>
                    <td>
                      {{#link-to "products.detail" product.id }}
                      <img src="{{product.image}}" alt="" width="40">
                      {{/link-to}}
                    </td>
                    <td>{{#link-to "products.detail" product.id }}{{product.name}}{{/link-to}}</td>
                    <td>{{product.product_sku}}</td>
                    <td>{{ format-number product.qty }}</td>
                    <td>Rp. {{format-money product.price}} </td>
                  </tr>
                  {{else}}
                  <tr>
                    <th colspan="6">
                  <div class="fonter" style="">
                    <i class="fa fa-file fonter-file" style=""></i>
                    <span class="fonter-cross" style="">x</span>
                  </div>
                  <span class="fonter-bot" style="">
                    No data yet
                    <br>
                    Start selling on MOXY
                  </span>
                  </th>
                  </tr>
                  {{/each}}

                </tbody>
              </table>
            </div>

            <div class="hidden-md hidden-lg col-xs-12" id="hidden-spacer">
            </div>

            {{#if hasPages }}
            <nav class="text-center center-block">
              <ul class="pagination">
                {{# if prevPage }}
                <li>
                  <a {{action "selectPage" prevPage}} aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                  </a>
                </li>

                {{/if}}
                {{#each pages as |page|}}
                <li {{bindAttr class="active disabled"}}><a href="#" {{action "selectPage" page.number}}>{{page.number}}</a></li>
                {{/each}}
                {{#if nextPage}}
                <li>
                  <a {{action "selectPage" nextPage}} aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                  </a>
                </li>

                {{/if}}
              </ul>
            </nav>
            {{/if}}

          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
