<div class="container-fluid content-page">

  <div class="row info-result">
    <div class="col-xs-12 col-md-6 col-lg-6 info-chart">
      <div style="width: 100%">
        {{ single-chart type="Line" id="canvas" height="450" data=model.chart.value labels=model.chart.labels update=true options=chartOptions }}
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-5 info-stats">
      <div class="col-xs-12 col-sm-6 col-lg-6"><div class="col-box">
        <h4 class="number">{{ format-number model.statistic.total_ordered }}</h4>
        <p class="text">Total Order Qty</p>
      </div></div>

      <div class="col-xs-12 col-sm-6 col-lg-6"><div class="col-box">
        <h4 class="number">{{ format-number model.statistic.total_invoiced }}</h4>
        <p class="text">Total Paid Qty</p>
      </div></div>

      <div class="col-xs-12 col-sm-6 col-lg-6"><div class="col-box">
          <h4 class="number">{{ format-number model.statistic.total_pending }}</h4>
          <p class="text">Total Pending Qty</p>
      </div></div>

      <div class="col-xs-12 col-sm-6 col-lg-6"><div class="col-box">
          <h4 class="number">{{ format-number model.statistic.total_canceled }}</h4>
          <p class="text">Total Canceled Qty</p>
      </div></div>

      <div class="col-xs-12 col-sm-6 col-lg-6"><div class="col-box">
          <h4 class="number">Rp. {{ format-money model.statistic.average_sales }}</h4>
          <p class="text">Average Sales</p>
      </div></div>

      <div class="col-xs-12 col-sm-6 col-lg-6"><div class="col-box">
          <h4 class="number">Rp. {{ format-money model.statistic.total_revenue }}</h4>
          <p class="text">Total Revenue</p>
      </div></div>
    </div>
  </div>

  <div class="row">
    <div class="result-table">
      <h3 class="text-center title">All Sales</h3>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="col-md-8 date-picker text-left">
            <label class="small" >Filter by date</label>
            <div class="clearfix"></div>
            {{input type="date" class="form-control" id="DateInputFrom" placeholder="dd/mm/yyyy" value=start_date}}
            <label >To</label>
            {{input type="date" class="form-control" id="DateInputTo" placeholder="dd/mm/yyyy" value=end_date}}
            <button {{ action 'filter' }} class="form-control btn btn-primary btn-size-regular">Filter</button>
          </div>
          <div class="col-md-4 search">
            <input type="text" class="form-control" placeholder="Search for...">
          </div>
        </div>
        <div class="panel-body ">

          <nav align="right">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                </a>
              </li>
              <li><a {{ action 'paginate' 1 }}>1</a></li>
              <li><a>2</a></li>
              <li><a>3</a></li>
              <li><a>4</a></li>
              <li><a>5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                </a>
              </li>
            </ul>
          </nav>

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Order Number</th>
                <th>Product</th>
                <th>SKU</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Revenue</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each model.allsales as |sales|}}
              <tr>
                {{!--
                <th>
                  <input type="checkbox" name="set-name" value="point">
                </th>
                --}}
                <td>{{ sales.created_at }}</td>
                <td>{{ sales.order_number }}</td>
                <td>{{ sales.name }}</td>
                <td>{{ sales.sku }}</td>
                <td>{{ format-number sales.qty_ordered }}</td>
                <td>Rp.{{ format-money sales.price }}</td>
                <td>Rp.{{ format-money sales.revenue }}</td>
                <td>{{ sales.status }}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>

          {{!--
          <div class="form-group text-center">
            <button type="submit" class="btn btn-hollow btn-size-small">Print</button>
            <button type="submit" class="btn btn-hollow btn-size-small">Export Data</button>
          </div>
          --}}
        </div>
      </div>
    </div>
  </div>
</div>
