<div class="container-fluid content-page">

  <div class="row info-result">
    <div class="col-xs-12 col-md-6 col-lg-6 info-chart">
      <div style="width: 100%">
        <canvas id="canvas" height="450" width="600"></canvas>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-5 info-stats">
      <div class="col-xs-12 col-sm-6 col-lg-6"><div class="col-box">
        <h4 class="number">344</h4>
        <p class="text">Total Sales</p>
      </div></div>

      <div class="col-xs-12 col-sm-6 col-lg-6"><div class="col-box">
        <h4 class="number">200</h4>
        <p class="text">Item Stock</p>
      </div></div>

      <div class="col-xs-12 col-sm-6 col-lg-6"><div class="col-box">
        <h4 class="number">12</h4>
        <p class="text">Delivered Order</p>
      </div></div>

      <div class="col-xs-12 col-sm-6 col-lg-6"><div class="col-box">
        <h4 class="number">45</h4>
        <p class="text">Pending order</p>
      </div></div>

      <div class="col-xs-12 col-sm-6 col-lg-6"><div class="col-box">
        <h4 class="number">57</h4>
        <p class="text">Yesterday order</p>
      </div></div>

      <div class="col-xs-12 col-sm-6 col-lg-6"><div class="col-box">
        <h4 class="number">Rp. 400</h4>
        <p class="text">Total Revenue</p>
      </div></div>
    </div>
  </div>

  <div class="row">
    <div class="result-table">
      <h3 class="text-center title">All Sales</h3>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="col-md-8 date-picker text-left">
            <label class="small" >Search by date</label>
            <div class="clearfix"></div>
            <input type="date" class="form-control" id="DateInputFrom" placeholder="dd/mm/yyyy">
            <label >To</label>
            <input type="date" class="form-control" id="DateInputTo" placeholder="dd/mm/yyyy">
            <button type="submit" class="form-control btn btn-primary btn-size-regular">Send invitation</button>
          </div>
          <div class="col-md-4 search">
            <input type="text" class="form-control" placeholder="Search for...">
          </div>
        </div>
        <div class="panel-body ">

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Select</th>
                <th>Date</th>
                <th>Order Number</th>
                <th>Product</th>
                <th>SKU</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Revenue</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each model as |sales|}}
              <tr>
                <th>
                  <input type="checkbox" name="set-name" value="point">
                </th>
                <td>{{ sales.created_at }}</td>
                <td>{{ sales.order_number }}</td>
                <td>{{ sales.name }}</td>
                <td>{{ sales.sku }}</td>
                <td>{{ sales.qty_ordered }}</td>
                <td class="type-price"> {{ sales.price }}</td>
                <td class="type-price"> {{ sales.revenue }}</td>
                <td>{{ sales.status }}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>

          <div class="form-group text-center">
            <button type="submit" class="btn btn-hollow btn-size-small">Print</button>
            <button type="submit" class="btn btn-hollow btn-size-small">Export Data</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
