<form {{action "save" on="submit"}}>
  <div class="row">
    <div class="col-lg-12 nopadding">
      {{#if displayPassChanged}}
        <div class="col-lg-12">
          <div class="alert alert-success alert-dismissible noradius" role="alert">
            Password updated successfully
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      {{/if}}
      {{#if displayPassError}}
        <div class="col-lg-12">
          <div class="alert alert-danger alert-dismissible noradius" role="alert">
            Password did not match successfully
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      {{/if}}
      <div class="col-lg-6">
        <div class="panel panel-default noradius">
          <div class="col-lg-12 col-md-12 col-sm-12 spacer20 dash-bar">
            <label class="in-block nomargin">Change Password</label>
          </div>
          <div class="panel-body nopadding">
            <div class="form-group in-block full-width">
              <label for="inputNPWP" class="col-sm-3 control-label texting-mid-form"></label>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputNPWP" class="col-sm-3 control-label texting-mid-form">Old Password</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputOldPassword" placeholder="fill  your old password " value=oldPassword}}
                {{!-- <label class="input-error"> <i class="fa fa-exclamation-triangle"></i> &nbsp; You need to fill your NPWP numbers</label> --}}
              </div>
            </div>
            <div class="form-group in-block full-width {{if isPasswordDifferent 'has-error'}}">
              <label for="inputNPWP" class="col-sm-3 control-label texting-mid-form">New Password</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputNewPassword" placeholder="fill  your new password " value=newPassword}}
              </div>
            </div>
            <div class="form-group in-block full-width {{if isPasswordDifferent 'has-error'}}">
              <label for="inputNPWP" class="col-sm-3 control-label texting-mid-form">Retype Password</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputRetypePassword" placeholder="retype your new password" value=retypePassword}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
    <div class="col-lg-12 nopadding">

    </div>
    <div class="form-group">
      <div class="col-sm-6 col-lg-6 pull-right">
        <button type="submit" class="btn btn-primary btn-size-small pull-right" >update password</button>
        <button type="reset" class="btn btn-hollow right-spacer btn-size-small pull-right">reset</button>
      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
</form>
