<form {{action "save" on="submit"}} enctype="multipart/form-data">
  <div class="row">
    <div class="col-lg-12 nopadding">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">Your Detail</div>
          <div class="panel-body nopadding">
            <div class="col-lg-12 bottom-spacer">
              <div class="col-lg-2 col-xs-4 col-sm-3 nopadding propic in-block right-spacer">
                <img src="{{model.photo}}" width="100%">
              </div>

              <button class="btn btn-hollow btn-size-small pull-left btn-change-pic">change picture</button>

              {{input type="file" id="photo-file"  class="form-control" name="photo"}}
            </div>

            <div class="form-group in-block full-width">


              <label for="input-name" class="col-sm-3 control-label texting-mid-form">Name </label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="input-name" value=model.seller_name placeholder="put your shop name"}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="input-email" class="col-sm-3 control-label texting-mid-form">Email</label>
              <div class="col-sm-9">
                {{errors.email}}
                {{input errors=errors.email type="email" class="form-control" id="input-email" value=model.email placeholder="put your email address"}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputbirthdate" class="col-sm-3 control-label texting-mid-form">Birthdate</label>
              <div class="col-sm-9">
                {{input type="date" class="form-control" id="inputbirthdate" placeholder="" value=model.birthday}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="phone" class="col-sm-3 control-label texting-mid-form">Phone</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="phone" placeholder="put your phone" value=model.phone}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputidentitynumber" class="col-sm-3 control-label texting-mid-form">ID Numbers</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputidentitynumber" placeholder="put your ID Number " value=model.identity_number}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputNPWP" class="col-sm-3 control-label texting-mid-form">NPWP</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputNPWP" placeholder="put your NPWP " value=model.npwp}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="seller-type-select" class="col-sm-3 control-label texting-mid-form">Type</label>
              <div class="col-sm-9">
                {{#x-select action="chooseSellerType" id="seller-type-select" class="form-control" value=model.seller_type}}
                  <option disabled="disabled">Select seller type</option>
                  {{#each type in model.seller_type_choices}}
                    {{#x-option value=type.id}}
                      {{type.seller_type}}
                    {{/x-option}}
                  {{/each}}
                {{/x-select}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 nopadding">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">Shop Detail</div>
          <div class="panel-body nopadding">
            <div class="form-group in-block full-width top-spacer">
              <label for="shop-name" class="col-sm-3 control-label texting-mid-form">Shop Name</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputshopname" placeholder="put your shop name " value=model.shop_name}}
              </div>
            </div>

            <div class="form-group in-block full-width">
              <label for="inputreturnaddress" class="col-sm-3 control-label texting-mid-form">Return Address</label>
              <div class="col-sm-9">
                {{textarea class="form-control maximum-width" rows="3" value=model.return_address}}
              </div>
            </div>

            <div class="form-group in-block full-width">
              <label for="inputowneradress" class="col-sm-3 control-label texting-mid-form">Owner Address</label>
              <div class="col-sm-9">
                {{textarea class="form-control maximum-width" rows="3" value=model.owner_address}}
              </div>
            </div>

            <div class="form-group in-block full-width">
              <label for="inputowneradress" class="col-sm-3 control-label texting-mid-form">Shop Address</label>
              <div class="col-sm-9">
                {{textarea class="form-control maximum-width" rows="3" value=model.shop_address}}
              </div>
            </div>

            <div class="form-group in-block full-width">
              <label for="shop-name" class="col-sm-3 control-label texting-mid-form">Bank Name</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputbankname" placeholder="put bank name" value=model.bank_name}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputaccountnumber" class="col-sm-3 control-label texting-mid-form">Account Number</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputbankaccountnumber" placeholder="put your account number" value=model.bank_account_number}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputaccountholder" class="col-sm-3 control-label texting-mid-form">Account Holder</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputaccountholder" placeholder="put account holder name" value=model.account_holder}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputtype" class="col-sm-3 control-label texting-mid-form">Payment Method</label>
              <div class="col-sm-9">
                {{#x-select action="choosePaymentType" id="inputtype" class="form-control" value=model.payment_method}}
                  <option disabled="disabled">Please select your payment method</option>
                  {{#each type in model.payment_choices}}
                    {{#x-option value=type.id}}
                      {{type.payment_choice}}
                    {{/x-option}}
                  {{/each}}
                {{/x-select}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputshoplink" class="col-sm-3 control-label texting-mid-form">Shop Link</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputshoplink" value=model.shop_link}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="reset" class="btn btn-hollow right-spacer btn-size-small pull-left">reset</button>
        <button type="submit" class="btn btn-primary btn-size-small pull-left" >update record</button>
      </div>
    </div>
  </div>
</form>
