<form {{action "save" on="submit"}}>
  <div class="row">
    <div class="col-lg-12 nopadding">
      <div class="col-lg-6">
        <div class="panel panel-default your-detail noradius">
          <div class="col-lg-12 col-md-12 col-sm-12 spacer20 dash-bar">
            <label class="in-block nomargin">Your Detail</label>
          </div>
          <div class="panel-body nopadding">
            <div class="col-lg-12 bottom-spacer">
              <div class="col-lg-2 col-xs-4 col-sm-3 nopadding propic in-block right-spacer">
                <img id="profile-picture" src="{{model.photo}}" width="100%">
              </div>

              <div class="btn-photo-upload fileUpload btn btn-size-small pull-left">
                <span>change picture</span>
                <input type="file" id="photo-file" class="upload" {{action "setProfilePicture" on="change"}}>
              </div>

            </div>

            <div class="form-group in-block full-width">

              <label for="input-name" class="col-sm-3 control-label texting-mid-form">Name </label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="input-name" value=model.seller_name placeholder="fill your name" required=true}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="input-email" class="col-sm-3 control-label texting-mid-form">Email</label>
              <div class="col-sm-9">
                {{input errors=errors.email type="email" class="form-control" id="input-email" value=model.email placeholder="fil your email address" required=true}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputbirthdate" class="col-sm-3 control-label texting-mid-form">Birthdate</label>
              <div class="col-sm-9">
                {{input type="date" class="form-control" id="inputbirthdate" placeholder="" value=model.birthday}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="phone" class="col-sm-3 control-label texting-mid-form">Phone</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="phone" placeholder="fill  your phone" value=model.phone}}
                {{!-- <label class="input-error"> <i class="fa fa-exclamation-triangle"></i> &nbsp; Please use area code ex. 021</label> --}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputidentitynumber" class="col-sm-3 control-label texting-mid-form">ID Numbers</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputidentitynumber" placeholder="fill  your ID Number " value=model.identity_number}}
                {{!-- <label class="input-error"> <i class="fa fa-exclamation-triangle"></i> &nbsp; You need to fill your ID numbers</label> --}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputNPWP" class="col-sm-3 control-label texting-mid-form">NPWP</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputNPWP" placeholder="fill  your NPWP " value=model.npwp}}
                {{!-- <label class="input-error"> <i class="fa fa-exclamation-triangle"></i> &nbsp; You need to fill your NPWP numbers</label> --}}
              </div>
            </div>
            {{!--
            <div class="form-group in-block full-width">
              <label for="seller-type-select" class="col-sm-3 control-label texting-mid-form">Type</label>
              <div class="col-sm-9">
                {{#x-select action="chooseSellerType" id="seller-type-select" class="form-control" value=model.seller_type}}
                  <option disabled="disabled">Select seller type</option>
                  {{#each model.seller_type_choices as |type|}}
                    {{#x-option value=type.id}}
                      {{type.seller_type}}
                    {{/x-option}}
                  {{/each}}
                {{/x-select}}
              </div>
            </div>
            --}}
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="col-lg-12 col-md-12 col-sm-12 spacer20 dash-bar">
            <label class="in-block nomargin">Shop Detail</label>
          </div>
          <div class="panel-body nopadding">
            <div class="form-group in-block full-width top-spacer">
              <label for="shop-name" class="col-sm-3 control-label texting-mid-form">Shop Name</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputshopname" placeholder="your shop name " value=model.shop_name}}
              </div>
            </div>

            <div class="form-group in-block full-width">
              <label for="inputreturnaddress" class="col-sm-3 control-label texting-mid-form">Return Address</label>
              <div class="col-sm-9">
                {{textarea class="form-control maximum-width" rows="3" value=model.return_address}}
                {{!-- <label class="input-error"> <i class="fa fa-exclamation-triangle"></i> &nbsp; You need to fill your return address</label> --}}
              </div>
            </div>

            <div class="form-group in-block full-width">
              <label for="inputowneradress" class="col-sm-3 control-label texting-mid-form">Owner Address</label>
              <div class="col-sm-9">
                {{textarea class="form-control maximum-width" rows="3" value=model.owner_address}}
                {{!-- <label class="input-error"> <i class="fa fa-exclamation-triangle"></i> &nbsp; You need to fill the owner address</label> --}}
              </div>
            </div>

            <div class="form-group in-block full-width">
              <label for="inputowneradress" class="col-sm-3 control-label texting-mid-form">Shop Address</label>
              <div class="col-sm-9">
                {{textarea class="form-control maximum-width" rows="3" value=model.shop_address}}
                {{!-- <label class="input-error"> <i class="fa fa-exclamation-triangle"></i> &nbsp; You need to fill your shop address</label> --}}
              </div>
            </div>

            <div class="form-group in-block full-width">
              <label for="shop-name" class="col-sm-3 control-label texting-mid-form">Bank Name</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputbankname" placeholder="fill bank name" value=model.bank_name}}
                {{!-- <label class="input-error"> <i class="fa fa-exclamation-triangle"></i> &nbsp; You need to fill your shop address</label> --}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputaccountnumber" class="col-sm-3 control-label texting-mid-form">Account Number</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputbankaccountnumber" placeholder="fill  your account number" value=model.bank_account_number}}
              </div>
            </div>
            <div class="form-group in-block full-width">
              <label for="inputaccountholder" class="col-sm-3 control-label texting-mid-form">Account Holder</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputaccountholder" placeholder="fill account holder name" value=model.account_holder}}
              </div>
            </div>
            {{!--
            <div class="form-group in-block full-width">
              <label for="inputtype" class="col-sm-3 control-label texting-mid-form">Payment Method</label>
              <div class="col-sm-9">
                {{#x-select action="choosePaymentType" id="inputtype" class="form-control" value=model.payment_method}}
                  <option disabled="disabled">Please select your payment method</option>
                  {{#each model.payment_choices as |type|}}
                    {{#x-option value=type.id}}
                      {{type.payment_choice}}
                    {{/x-option}}
                  {{/each}}
                {{/x-select}}
              </div>
            </div>
            --}}
            <div class="form-group in-block full-width">
              <label for="inputshoplink" class="col-sm-3 control-label texting-mid-form">Shop Link</label>
              <div class="col-sm-9">
                {{input type="text" class="form-control" id="inputshoplink" value=model.shop_link}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 nopadding">

    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-3 col-lg-3 pull-right">
        <button type="submit" class="btn btn-primary btn-size-small pull-right" >update record</button>
        <button type="reset" class="btn btn-hollow right-spacer btn-size-small pull-right">reset</button>
      </div>
    </div>
  </div>
</form>
